#main_img {
    width: 100%;
}
#banner {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
h1 {
    font-size: 5vw;
    line-height: 5vw;
}
h3 {
    font-size:3vw;
    line-height: 3vw;
}
h2 {
    font-size: 40px;
    line-height: 40px;
}

p {
    font-size: 20px;
    line-height: 20px;
}

.page {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}