#img-1 {
    width: 500px;
}

#img-2 {
    width: 80%;
    margin-right: 10%;
    margin-left:10%;
}

#img-3 {
    width: 60%;
    margin-right: 20%;
    margin-left:20%;
}
#step-1 {
    display: flex;
}

#p-1 {
    margin-right: 5%;
    margin-left: 5%;
    font-size: 30px;
    line-height: 30px;
}
 #p-2 {
    font-size: 30px;
    line-height: 30px;
 }

 #p-3 {
     font-size: 30px;
     line-height: 30px;
 }